# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_NAME=parking_db
DB_USER=root
DB_PASSWORD=root_password

# JWT Secret Key
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# Application URLs
BACKEND_URL=http://backend:8080
FRONTEND_URL=http://localhost
